[user]
	name = kobabauer
	email = kobabauer@gmail.com
[color]
	ui = auto
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[core]
	excludesfile = ~/.gitignore
