[submodule ".vim/bundle/vundle"]
	path = .vim/bundle/vundle
	url = http://github.com/gmarik/vundle.git
[submodule ".vim/bundle/neocomplcache"]
	path = .vim/bundle/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
[submodule ".vim/bundle/vim-quickrun"]
	path = .vim/bundle/vim-quickrun
	url = git://github.com/thinca/vim-quickrun.git
[submodule ".vim/bundle/vtreeexplorer"]
	path = .vim/bundle/vtreeexplorer
	url = git://github.com/vim-scripts/vtreeexplorer.git
